<h2>Homepage for {{userId}}</h2>
<!-- <nav><a routerLink="/create-event">Create New Event</a></nav>
<nav><a routerLink="/event-registration">Register to Volunteer for an Event</a></nav>
<nav><a routerLink="/volunteer-unregister-event">Unregister Volunteer from event</a></nav> -->
<app-create-event>
</app-create-event>

<app-event-registration></app-event-registration>
<app-volunteer-unregister-event></app-volunteer-unregister-event>
<app-add-comment-event-volunteer></app-add-comment-event-volunteer>
<app-update-user></app-update-user>
<app-add-event-note></app-add-event-note>
<app-delete-event></app-delete-event>
